<div id="<%= dom_id seizure %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= seizure.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= seizure.end_time %>
  </p>

</div>
